/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /* Colors */
  --hue: 174;
  --sat: 63%;
  --first-color: #369FFF;
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /* Font */
  --body-font: 'Open Sans', sans-serif;
  --tiny-font-size: .625rem;

  /* z index */
  --z-fixed: 100;
}

/*=============== BASE ===============*/
body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--title-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*=============== HEADER ===============*/

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Profile image */
.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

/* Bottom navbar (mobile & tablet) */
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.nav__icon {
  font-size: 1.5rem;
}

/* Active link */
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/*=============== MEDIA QUERIES ===============*/
/* Tiny devices */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* Medium devices (tablet) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}
